services:
  db:
    image: postgres:15
    container_name: vendo_sri_db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: vendo_sri_redis
    ports:
      - "6379:6379"
    restart: unless-stopped

  web:
    image: vendo_sri_web  # ← CAMBIO AQUÍ
    container_name: vendo_sri_web
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    env_file:
      - .env
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: vendo_sri_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@vendosri.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5050:80"
    depends_on:
      - db
    restart: unless-stopped

volumes:
  postgres_data: